.root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--accent-color);
    color: var(--text-color);
    padding-block: var(--space-3);
    padding-inline: var(--space-5);
    border-radius: var(--radius-2);
    font-size: var(--font-size-6);
    line-height: var(--line-height-6);
    letter-spacing: var(--letter-spacing-6);
    font-weight: var(--font-weight-medium);
}

.root:hover {
    background-color: var(--accent-color-contrast);
    color: var(--text-color-contrast);
}