.tile {
  position: absolute;
  inline-size: var(--tile-size);
  block-size: var(--tile-size);
  border-radius: var(--radius-1);
  background: var(--color);
  transition-property: left, top, transform;
  transition-duration: 200ms, 200ms, 100ms;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
