:root {
  --background-color-light: #eeefe9;
  --background-color-dark: #2d2d2d;

  --accent-color-dark: #3f4046;
  --accent-color-light: #c1c2b9;

  --text-color-dark: #111;
  --text-color-light: #f3f4ef;

  --color-1: rgb(160, 170, 159);
  --color-2: rgb(165, 175, 159);
  --color-4: rgb(170, 175, 159);
  --color-8: rgb(175, 180, 159);
  --color-16: rgb(180, 180, 159);
  --color-32: rgb(190, 190, 160);
  --color-64: rgb(200, 190, 159);
  --color-128: rgb(210, 200, 159);
  --color-256: rgb(210, 205, 159);
  --color-512: rgb(160, 169, 159);
  --color-1024: rgb(160, 169, 159);
  --color-2048: #4bbc8e;
  --color-obstacle: #780F20;

  --space-1: 0.25rem;
  --space-2: 0.5rem;
  --space-3: 0.75rem;
  --space-4: 1rem;
  --space-5: 1.5rem;
  --space-6: 2rem;
  --space-7: 2.5rem;
  --space-8: 3rem;
  --space-9: 4rem;
  --space-10: 6rem;

  --radius-1: 3px;
  --radius-2: 4px;
  --radius-3: 6px;
  --radius-4: 8px;
  --radius-5: 12px;
  --radius-6: 16px;
  --radius-full: 9999px;
}

@media (prefers-color-scheme: light) {
  body {
    --background-color: var(--background-color-light);
    --background-color-contrast: var(--background-color-dark);

    --accent-color: var(--accent-color-light);
    --accent-color-contrast: var(--accent-color-dark);

    --text-color: var(--text-color-dark);
    --text-color-contrast: var(--text-color-light);

    color: var(--text-color-dark);

    ::selection {
      background: var(--accent-color);
    }
  }
}

@media (prefers-color-scheme: dark) {
  body {
    --background-color: var(--background-color-dark);
    --background-color-contrast: var(--background-color-light);

    --accent-color: var(--accent-color-dark);
    --accent-color-contrast: var(--accent-color-light);

    --text-color: var(--text-color-light);
    --text-color-contrast: var(--text-color-dark);

    color: var(--text-color-light);

    ::selection {
      background: var(--accent-color);
    }
  }
}
