.tile {
  border-radius: var(--radius-1);
  background: var(--color-obstacle);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  padding: var(--space-2);
}

.tile svg {
  inline-size: 100%;
  block-size: 100%;
}