.tile {
  border-radius: var(--radius-1);
  background: var(--color-obstacle);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  color: white;

  padding: var(--space-2);
}
